@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.btn {
  height: 2.5rem;
  width: 120px;
  border-radius: 10px;
  color: $text-white;
  cursor: pointer;
  box-shadow: 0px 20px 50px $color-gray;
  margin-top: 10px;
  background-color: $color-blue;
}
