@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.holidayByIdCard {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
  width: 320px;
  height: 360px;

  &__wrap {
    display: flex;
    padding: 5px;

    &--header {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      font-size: 0.9rem;

      .location {
        width: 20px;
      }
    }
  }

  &__img-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--img {
      width: 260px;
      height: 180px;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      margin: 5px 20px;
      border-radius: 5px;
    }

    &--text {
      width: 260px;
      height: 100px;
      margin-top: 5px;
      overflow-y: scroll;

      .description {
        text-align: center;
        color: $text-gray;
      }
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .holidayByIdCard {
    width: 700px;
    height: 680px;

    &__wrap {
      &--header {
        font-size: 1.4rem;
      }
    }

    &__img-text-wrap {
      &--img {
        width: 640px;
        height: 480px;
      }

      &--text {
        width: 640px;
        height: 200px;

        .description {
          font-size: 1rem;
        }
      }
    }
  }
}

