@use "../../styles//main" as *;
@use "../../styles/variables" as *;

.holiday-card {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  width: 302px;
  height: 280px;
  margin-top: 20px;

  &__text-wrap {
    display: flex;
    padding: 5px;

    &--header {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      font-size: 0.9rem;

      .location {
        width: 20px;
      }
    }
  }

  &__img {
    width: 260px;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    margin: 5px 20px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .holiday-card {
    width: 400px;
    height: 340px;

    &__text-wrap {
      &--header {
        font-size: 1.2rem;
      }
    }

    &__img {
      width: 360px;
      height: 240px;
    }
  }
}


