@use "../../styles//main" as *;
@use "../../styles/variables" as *;

.holiday-card {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  width: 302px;
  height: 280px;
  margin-top: 20px;
  padding: 10px;

  &__text-wrap {
    display: flex;
    padding: 5px;
    max-width: 90%;

    &--header {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      font-size: 0.9rem;

      p {
        color: $text-gray;
      }

      .location {
        width: 20px;
      }
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    &--img {
      max-width: 260px;
      height: 180px;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      margin: 5px 20px;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .holiday-card {
    width: 440px;
    height: 400px;

    &__text-wrap {

      &--header {
        font-size: 1.2rem;
      }
    }

    &__img {
      &--img {
        max-width: 360px;
        height: 260px;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .holiday-card {
    width: 740px;
    height: 600px;

    &__text-wrap {
      &--header {
        font-size: 1.4rem;
      }
    }

    &__img {
      &--img {
        max-width: 660px;
        height: 460px;
      }
    }
  }
}
