@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.holidayById-page {

    &__card {
        margin: 20px;
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}